@CHARSET "ISO-8859-1";
body{
	background-color:lightgray;
}
.text{
background-color:pink;


}
.searchtext{
	height:40px;width: 234px;border-radius:10px;font-size:20px;color:green;
}
.searchtext:focus{
	height:40px;width: 234px;border-radius:10px;background-color:skyblue;
}
.searchbutton
{
	height:40px;width: 100px;border-radius:10px;font-size:15px;
}

.text:focus{
box-shadow:2px 3px gray;
border-radius:5px;

}
.nav
{
	margin-left:3%;margin-top:2px;padding:5px;background-color:skyblue;color:blue;border-radius:10px;border:1px solid yellow;
}
.nav:hover
{
	margin-left:3%;margin-top:2px;padding:5px;background-color:gray;color:Black;border-radius:10px;border:1px solid yellow;box-shadow:2px 2px red;
}
